<!DOCTYPE html>
<html lang="en">
   <head> <title>Head</title>
    <%- include('../partials/head') %> 
    </head>
    <body>
        <%- include('../partials/header') %> 
       <div>
        <ol>
        <div> <%users.forEach(({name, city})=>{%>
            <li><%= name %> is from <%= city %> </li>
        <%}) %>
        </div>
        </ol>
        
    </div>
    </body>
</html>